#  Unit 2.3 Extracting Information from Data, Pandas
> Data connections, trends, and correlation.  Pandas is introduced as it could be valuable for PBL, data validation, as well as understanding College Board Topics.
- toc: true
- image: /images/python.png
- categories: []
- type: ap
- week: 25

# Files To Get

Save this file to your **_notebooks** folder

wget https://raw.githubusercontent.com/nighthawkcoders/APCSP/master/_notebooks/2023-03-09-AP-unit2-3.ipynb

Save these files into a subfolder named **files** in your **_notebooks** folder

wget https://raw.githubusercontent.com/nighthawkcoders/APCSP/master/_notebooks/files/data.csv

wget https://raw.githubusercontent.com/nighthawkcoders/APCSP/master/_notebooks/files/grade.json

Save this image into a subfolder named **images** in your **_notebooks** folder

wget https://raw.githubusercontent.com/nighthawkcoders/APCSP/master/_notebooks/images/table_dataframe.png

# Pandas and DataFrames
> In this lesson we will be exploring data analysis using Pandas.  

- College Board talks about ideas like 
    - Tools. "the ability to process data depends on users capabilities and their tools"
    - Combining Data.  "combine county data sets"
    - Status on Data"determining the artist with the greatest attendance during a particular month"
    - Data poses challenge. "the need to clean data", "incomplete data"


- [From Pandas Overview](https://pandas.pydata.org/docs/getting_started/index.html) -- When working with tabular data, such as data stored in spreadsheets or databases, pandas is the right tool for you. pandas will help you to explore, clean, and process your data. In pandas, a data table is called a DataFrame.


![DataFrame](images/table_dataframe.png)

In [1]:
'''Pandas is used to gather data sets through its DataFrames implementation'''
import pandas as pd

# Cleaning Data

When looking at a data set, check to see what data needs to be cleaned. Examples include:
- Missing Data Points
- Invalid Data
- Inaccurate Data

Run the following code to see what needs to be cleaned

In [2]:
# reads the JSON file and converts it to a Pandas DataFrame
df = pd.read_json('files/grade.json')

print(df)
# What part of the data set needs to be cleaned?
# From PBL learning, what is a good time to clean data?  Hint, remember Garbage in, Garbage out?

   Student ID Year in School   GPA
0         123             12  3.57
1         246             10  4.00
2         578             12  2.78
3         469             11  3.45
4         324         Junior  4.75
5         313             20  3.33
6         145             12  2.95
7         167             10  3.90
8         235      9th Grade  3.15
9         nil              9  2.80
10        469             11  3.45
11        456             10  2.75

# Extracting Info

Take a look at some features that the Pandas library has that extracts info from the dataset

## DataFrame Extract Column

In [ ]:
#print the values in the points column with column header
print(df[['GPA']])

print()

#try two columns and remove the index from print statement
print(df[['Student ID','GPA']].to_string(index=False))

## DataFrame Sort

In [ ]:
#sort values
print(df.sort_values(by=['GPA']))

print()

#sort the values in reverse order
print(df.sort_values(by=['GPA'], ascending=False))

## DataFrame Selection or Filter

In [5]:
#print only values with a specific criteria 
print(df[df.GPA > 3.00])

   Student ID Year in School   GPA
0         123             12  3.57
1         246             10  4.00
3         469             11  3.45
4         324         Junior  4.75
5         313             20  3.33
7         167             10  3.90
8         235      9th Grade  3.15
10        469             11  3.45

## DataFrame Selection Max and Min

In [6]:
print(df[df.GPA == df.GPA.max()])
print()
print(df[df.GPA == df.GPA.min()])

  Student ID Year in School   GPA
4        324         Junior  4.75

   Student ID Year in School   GPA
11        456             10  2.75

# Create your own DataFrame

Using Pandas allows you to create your own DataFrame in Python.

## Python Dictionary to Pandas DataFrame

In [10]:
import pandas as pd

#the data can be stored as a python dictionary
dict = {
  "calories": [420, 380, 390, 387],
  "duration": [50, 40, 45, 35]
}
#stores the data in a data frame
print("-------------Dict_to_DF------------------")
df = pd.DataFrame(dict)
print(df)

print("----------Dict_to_DF_labels--------------")

#or with the index argument, you can label rows.
df = pd.DataFrame(dict, index = ["day1", "day2", "day3", "day4"])
print(df)

-------------Dict_to_DF------------------
   calories  duration
0       420        50
1       380        40
2       390        45
3       387        35
----------Dict_to_DF_labels--------------
      calories  duration
day1       420        50
day2       380        40
day3       390        45
day4       387        35

## Examine DataFrame Rows

In [11]:
print("-------Examine Selected Rows---------")
#use a list for multiple labels:
print(df.loc[["day1", "day3"]])

#refer to the row index:
print("--------Examine Single Row-----------")
print(df.loc["day1"])

-------Examine Selected Rows---------
      calories  duration
day1       420        50
day3       390        45
--------Examine Single Row-----------
calories    420
duration     50
Name: day1, dtype: int64

## Pandas DataFrame Information

In [13]:
#print info about the data set
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, day1 to day4
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calories  4 non-null      int64
 1   duration  4 non-null      int64
dtypes: int64(2)
memory usage: 268.0+ bytes
None

# Example of larger data set

Pandas can read CSV and many other types of files, run the following code to see more features with a larger data set

In [14]:
import pandas as pd

#read csv and sort 'Duration' largest to smallest
df = pd.read_csv('files/data.csv').sort_values(by=['Duration'], ascending=False)

print("--Duration Top 10---------")
print(df.head(10))

print("--Duration Bottom 10------")
print(df.tail(10))

--Duration Top 10---------
     Duration  Pulse  Maxpulse  Calories
69        300    108       143    1500.2
79        270    100       131    1729.0
109       210    137       184    1860.4
60        210    108       160    1376.0
106       180     90       120     800.3
90        180    101       127     600.1
65        180     90       130     800.4
61        160    110       137    1034.4
62        160    109       135     853.0
67        150    107       130     816.0
--Duration Bottom 10------
     Duration  Pulse  Maxpulse  Calories
68         20    106       136     110.4
100        20     95       112      77.7
89         20     83       107      50.3
135        20    136       156     189.0
94         20    150       171     127.4
95         20    151       168     229.4
139        20    141       162     222.4
64         20    110       130     131.4
112        15    124       139     124.2
93         15     80       100      50.5

# APIs are a Source for Writing Programs with Data
> 3rd Party APIs are a great source for creating Pandas Data Frames.  
- Data can be fetched and resulting json can be placed into a Data Frame
- Observe output, this looks very similar to a Database

In [15]:
'''Pandas can be used to analyze data'''
import pandas as pd
import requests

def fetch():
    '''Obtain data from an endpoint'''
    url = "https://flask.nighthawkcodingsociety.com/api/covid/"
    fetch = requests.get(url)
    json = fetch.json()

    # filter data for requirement
    df = pd.DataFrame(json['countries_stat'])  # filter endpoint for country stats
    print(df.loc[0:5, 'country_name':'deaths']) # show row 0 through 5 and columns country_name through deaths
    
fetch()

  country_name       cases     deaths
0          USA  82,649,779  1,018,316
1        India  43,057,545    522,193
2       Brazil  30,345,654    662,663
3       France  28,244,977    145,020
4      Germany  24,109,433    134,624
5           UK  21,933,206    173,352

# Hacks
> AP Prep
- Add this Blog to you own Blogging site.  In the Blog add notes and observations on each code cell.
- In blog add College Board practice problems for 2.3.

> The next 4 weeks, Teachers want you to improve your understanding of data.  Look at the blog and others on Unit 2.  Your intention is to find some things to differentiate your individual College Board project.
- Create or Find your own dataset.  The suggestion is to use a JSON file, integrating with your PBL project would be ***Fambulous***.

    When choosing a data set, think about the following:
    - Does it have a good sample size?
    - Is there bias in the data?
    - Does the data set need to be cleaned?
    - What is the purpose of the data set?
    - ...
- Continue this Blog using Pandas extract info from that dataset (ex. max, min, mean, median, mode, etc.)

## Hack Helpers
> Here is how Mort started on this assignment by asking ChatGPT  ... Regarding Python Pandas, what are some data sets that would be good for learning Pandas?

- There are many data sets that are suitable for learning pandas, depending on your interests and the skills you want to develop. Here are some suggestions:

    - Titanic Dataset: This is a classic dataset for data analysis and machine learning, and is often used as an introduction to pandas. The dataset contains information about passengers on the Titanic, including their demographics, ticket class, and survival status.

    - Iris Dataset: This is another classic dataset that is often used in machine learning and data analysis courses. The dataset contains information about iris flowers, including their sepal length, sepal width, petal length, and petal width.

    - NBA Player Stats: This dataset contains information about NBA players, including their stats for various games, their positions, and their salaries. It is a great dataset for learning how to clean and manipulate data using pandas.

    - Housing Prices Dataset: This dataset contains information about housing prices in a particular city or region, including variables such as the number of bedrooms, square footage, and price. It is a great dataset for learning how to manipulate and analyze numerical data using pandas.

    - COVID-19 Dataset: This dataset contains information about the COVID-19 pandemic, including the number of cases, deaths, and recoveries in various countries and regions. It is a great dataset for learning how to manipulate and analyze time-series data using pandas.

    - World Bank Dataset: This dataset contains information about economic indicators from various countries, such as GDP, population, and poverty rates. It is a great dataset for learning how to manipulate and analyze large datasets using pandas.

- These are just a few examples of the many datasets that are suitable for learning pandas. The best dataset for you will depend on your interests and the specific skills you want to develop.


> Follow up question, "where can I find Titanic data set?"

- The Titanic dataset is a popular dataset for data analysis and machine learning, and it can be found on various websites and data repositories. Here are a few places where you can find the Titanic dataset:

    - Kaggle: The Titanic dataset is available on Kaggle, which is a popular platform for data scientists and machine learning enthusiasts. You can download the dataset from the Kaggle website after creating an account.

    - UCI Machine Learning Repository: The Titanic dataset is also available on the UCI Machine Learning Repository, which is a collection of datasets that are commonly used for machine learning research. You can download the dataset from the UCI Machine Learning Repository website.

    - Seaborn library: If you have the Seaborn library installed in your Python environment, you can load the Titanic dataset directly from the library using the following code:

    ```python
    import seaborn as sns
    titanic_data = sns.load_dataset('titanic')
    ```

### Titanic Data
> Look at a sample of data.

In [ ]:
import seaborn as sns

# Load the titanic dataset
titanic_data = sns.load_dataset('titanic')

print("Titanic Data")


print(titanic_data.columns) # titanic data set

print(titanic_data[['survived','pclass', 'sex', 'age', 'sibsp', 'parch', 'class', 'fare', 'embark_town']]) # look at selected columns

> Use Pandas to clean the data.  Most analysis, like Machine Learning or even Pandas in general like data to be in standardized format.  This is called 'Training' or 'Cleaning' data.

In [ ]:

# Preprocess the data
from sklearn.preprocessing import OneHotEncoder


td = titanic_data
td.drop(['alive', 'who', 'adult_male', 'class', 'embark_town', 'deck'], axis=1, inplace=True)
td.dropna(inplace=True)
td['sex'] = td['sex'].apply(lambda x: 1 if x == 'male' else 0)
td['alone'] = td['alone'].apply(lambda x: 1 if x == True else 0)

# Encode categorical variables
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(td[['embarked']])
onehot = enc.transform(td[['embarked']]).toarray()
cols = ['embarked_' + val for val in enc.categories_[0]]
td[cols] = pd.DataFrame(onehot)
td.drop(['embarked'], axis=1, inplace=True)
td.dropna(inplace=True)

print(td)

> The result of 'Training' data is making it easier to analyze or make conclusions.  In looking at the Titanic, as you clean you would probably want to make assumptions on likely chance of survival.

This would involve analyzing various factors (such as age, gender, class, etc.) that may have affected a person's chances of survival, and using that information to make predictions about whether an individual would have survived or not. 

- Data description:
    - Survival - Survival (0 = No; 1 = Yes). Not included in test.csv file.
    - Pclass - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
    - Name - Name
    - Sex - Sex
    - Age - Age
    - Sibsp - Number of Siblings/Spouses Aboard
    - Parch - Number of Parents/Children Aboard
    - Ticket - Ticket Number
    - Fare - Passenger Fare
    - Cabin - Cabin
    - Embarked - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

- Perished Mean/Average

In [ ]:
print(titanic_data.query("survived == 0").mean())

- Survived Mean/Average

In [ ]:
print(td.query("survived == 1").mean())

> Survived Max and Min Stats

In [ ]:
print(td.query("survived == 1").max())
print(td.query("survived == 1").min())

## Machine Learning
> [From Tutorials Point](https://www.tutorialspoint.com/scikit_learn/scikit_learn_introduction.htm#:~:text=Scikit%2Dlearn%20(Sklearn)%20is,a%20consistence%20interface%20in%20Python).  Scikit-learn (Sklearn) is the most useful and robust library for machine learning in Python. It provides a selection of efficient tools for machine learning and statistical modeling including classification, regression, clustering and dimensionality reduction via a consistence interface in Python.

> Description from ChatGPT. The Titanic dataset is a popular dataset for data analysis and machine learning. In the context of machine learning, accuracy refers to the percentage of correctly classified instances in a set of predictions. In this case, the testing data is a subset of the original Titanic dataset that the decision tree model has not seen during training......After training the decision tree model on the training data, we can evaluate its performance on the testing data by making predictions on the testing data and comparing them to the actual outcomes. The accuracy of the decision tree classifier on the testing data tells us how well the model generalizes to new data that it hasn't seen before......For example, if the accuracy of the decision tree classifier on the testing data is 0.8 (or 80%), this means that 80% of the predictions made by the model on the testing data were correct....Chance of survival could be done using various machine learning techniques, including decision trees, logistic regression, or support vector machines, among others.

- Code Below prepares data for further analysis and provides an Accuracy.  IMO, you would insert a new passenger and predict survival.  Datasets could be used on various factors like prediction if a player will hit a Home Run, or a Stock will go up or down.
    - [Decision Trees](https://scikit-learn.org/stable/modules/tree.html#tree), prediction by a piecewise constant approximation.
    - [Logistic Regression](https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression), the probabilities describing the possible outcomes.

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Split arrays or matrices into random train and test subsets.
X = td.drop('survived', axis=1)
y = td['survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Train a decision tree classifier
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

# Test the model
y_pred = dt.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print('DecisionTreeClassifier Accuracy:', accuracy)

# Train a logistic regression model
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

# Test the model
y_pred = logreg.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print('LogisticRegression Accuracy:', accuracy)

# Hacks

## 2.3 Questions


1. A researcher is analyzing data about students in a school district to determine whether there is a relationship between grade point average and number of absences. The researcher plans on compiling data from several sources to create a record for each student.

The researcher has access to a database with the following information about each student.

Last name
First name
Grade level (9, 10, 11, or 12)
Grade point average (on a 0.0 to 4.0 scale)
The researcher also has access to another database with the following information about each student.

First name
Last name
Number of absences from school
Number of late arrivals to school
Upon compiling the data, the researcher identifies a problem due to the fact that neither data source uses a unique ID number for each student. Which of the following best describes the problem caused by the lack of unique ID numbers?
- Students who have the same name may be confused with each other. CORRECT
    - Students who have the same grade point average may be confused with each other.
    - Students who have the same grade level may be confused with each other.
    - Students who have the same number of absences may be confused with each other.

2. A team of researchers wants to create a program to analyze the amount of pollution reported in roughly 3,000 counties across the United States. The program is intended to combine county data sets and then process the data. Which of the following is most likely to be a challenge in creating the program?
     - A computer program cannot combine data from different files.
- Different counties may organize data in different ways. CORRECT
     - The number of counties is too large for the program to process.
     - The total number of rows of data is too large for the program to process.

3. A student is creating a Web site that is intended to display information about a city based on a city name that a user enters in a text field. Which of the following are likely to be challenges associated with processing city names that users might provide as input?
    - Users might attempt to use the Web site to search for multiple cities.
- Users might enter abbreviations for the names of cities CORRECT
- Users might misspell the name of the city. CORRECT
    - Users might be slow at typing a city name in the text field.

4. A database of information about shows at a concert venue contains the following information.

Name of artist performing at the show
Date of show
Total dollar amount of all tickets sold
Which of the following additional pieces of information would be most useful in determining the artist with the greatest attendance during a particular month?
- Average ticket price CORRECT
    - Length of the show in minutes
    - Start time of the show
    - Total dollar amount of food and drinks sold during the show

5. A camera mounted on the dashboard of a car captures an image of the view from the driver’s seat every second. Each image is stored as data. Along with each image, the camera also captures and stores the car’s speed, the date and time, and the car’s GPS location as metadata. Which of the following can best be determined using only the data and none of the metadata?
    - The average number of hours per day that the car is in use 
    - The car’s average speed on a particular day
    - The distance the car traveled on a particular day
- The number of bicycles the car passed on a particular day CORRECT

6. A teacher sends students an anonymous survey in order to learn more about the students’ work habits. The survey contains the following questions.

On average, how long does homework take you each night (in minutes) ?
On average, how long do you study for each test (in minutes) ?
Do you enjoy the subject material of this class (yes or no) ?
Which of the following questions about the students who responded to the survey can the teacher answer by analyzing the survey results?

Do students who enjoy the subject material tend to spend more time on homework each night than the other students do?
Do students who spend more time on homework each night tend to spend less time studying for tests than the other students do?
Do students who spend more time studying for tests tend to earn higher grades in the class than the other students do?
   - I only
   - III only
- I and II CORRECT
   - I and III

In [25]:
# reads the JSON file and converts it to a Pandas DataFrame
import pandas as pd
df = pd.read_json('files/co2em.json')

print(df)

                 Country  Emissions2017
0            Afghanistan       0.131695
1                 Angola       0.813301
2                Albania       1.788786
3                Andorra       6.104134
4   United Arab Emirates      20.769022
..                   ...            ...
89               Somalia      10.230000
90           South Korea      12.710000
91            Kazakhstan      17.520000
92               Iceland      10.480000
93          Turkmenistan      12.290000

[94 rows x 2 columns]

In [28]:
#print the values in the points column with column header
print(df[['Emissions2017']])

print()

#try two columns and remove the index from print statement
print(df[['Emissions2017','Country']].to_string(index=False))

    Emissions2017
0        0.131695
1        0.813301
2        1.788786
3        6.104134
4       20.769022
..            ...
89      10.230000
90      12.710000
91      17.520000
92      10.480000
93      12.290000

[94 rows x 1 columns]

 Emissions2017                  Country
      0.131695              Afghanistan
      0.813301                   Angola
      1.788786                  Albania
      6.104134                  Andorra
     20.769022     United Arab Emirates
      4.071308                Argentina
      1.823560                  Armenia
      1.490000           American Samoa
      5.239717      Antigua and Barbuda
     15.818316                Australia
      7.486162                  Austria
      3.243342               Azerbaijan
      0.048952                  Burundi
      0.048952                  Belgium
      0.614755                    Benin
      0.222474             Burkina Faso
      0.496852               Bangladesh
      6.201290                 Bulgaria
     20.427328                  Bahrain
      5.684363                  Bahamas
      6.767051   Bosnia and Herzegovina
      5.921351                  Belarus
      1.703147                   Belize
      6.990000                 Bermunda
      2.032547                  Bolivia
      2.196418                   Brazil
      4.122573                 Barbados
     21.640000        Brunei Barussalam
      1.301030                   Bhutan
      3.324148                 Botswana
      0.047867 Central African Republic
     15.544571                   Canada
      4.578885              Switzerland
      4.714020                    Chile
      7.230985                    China
      0.432123            Cote d'Ivoire
      0.373279                 Cameroon
      0.035013         Congo, Dem. Rep.
      1.058563              Congo, Rep.
      1.533229                 Colombia
      0.344027                  Comoros
      1.097676               Cabo Verde
      1.668702               Costa Rica
      2.314085                     Cuba
      2.310000           Cayman Islands
      6.230000                   Cyprus
      6.238954           Czech Republic
      9.611647                  Germany
      8.858294                 Djibouti
      0.444868                 Dominica
      2.378953                  Denmark
      5.746768       Dominican Republic
      2.240060                  Algeria
      3.825638                  Ecuador
      2.296645         Egypt, Arab Rep.
      2.511650                  Eritrea
      0.210965                    Spain
      5.654254                  Estonia
     12.684228                 Ethiopia
      0.148684                  Finland
      3.790000                   Mexico
      7.520000              New Zealand
      4.749543                     Fiji
      4.750000                   France
      1.614915            Faroe Islands
      2.581349    Micronesia, Fed. Sts.
      5.555652                    Gabon
      5.860000           United Kingdom
      2.609976                  Georgia
      0.584105                    Ghana
      0.124352                Gibraltar
      0.276776                   Guinea
      0.243913                   Gambia
      0.169571            Guinea-Bissau
      4.595851       Equaatorial Guinea
      6.211250                   Greece
      2.615582                  Grenada
     11.370000                   Russia
      1.029997                Guatemala
      5.440000                    Italy
      1.733361                    India
     14.823261            United States
     32.127990                    Qatar
      9.690000                Greenland
     18.820000             Saudi Arabia
      0.040000                  Somalia
     23.290000                   Kuwait
     27.270000      Trinidad and Tobago
     15.110000                     Oman
     10.230000                  Somalia
     12.710000              South Korea
     17.520000               Kazakhstan
     10.480000                  Iceland
     12.290000             Turkmenistan

In [29]:
#sort values least to greates
print(df.sort_values(by=['Emissions2017']))

print()

#sort the values in greatest to least
print(df.sort_values(by=['Emissions2017'], ascending=False))

                     Country  Emissions2017
37          Congo, Dem. Rep.       0.035013
85                   Somalia       0.040000
30  Central African Republic       0.047867
13                   Belgium       0.048952
12                   Burundi       0.048952
..                       ...            ...
4       United Arab Emirates      20.769022
27         Brunei Barussalam      21.640000
86                    Kuwait      23.290000
87       Trinidad and Tobago      27.270000
82                     Qatar      32.127990

[94 rows x 2 columns]

                     Country  Emissions2017
82                     Qatar      32.127990
87       Trinidad and Tobago      27.270000
86                    Kuwait      23.290000
27         Brunei Barussalam      21.640000
4       United Arab Emirates      20.769022
..                       ...            ...
12                   Burundi       0.048952
13                   Belgium       0.048952
30  Central African Republic       0.047867
85                   Somalia       0.040000
37          Congo, Dem. Rep.       0.035013

[94 rows x 2 columns]

In [32]:
#print only values with a specific criteria 
print(df[df.Emissions2017 > 20.00])

                 Country  Emissions2017
4   United Arab Emirates      20.769022
18               Bahrain      20.427328
27     Brunei Barussalam      21.640000
82                 Qatar      32.127990
86                Kuwait      23.290000
87   Trinidad and Tobago      27.270000

In [33]:
#countries with the greatest and least emissions in 2017
print(df[df.Emissions2017 == df.Emissions2017.max()])
print()
print(df[df.Emissions2017 == df.Emissions2017.min()])

   Country  Emissions2017
82   Qatar       32.12799

             Country  Emissions2017
37  Congo, Dem. Rep.       0.035013

In [41]:
#mean
mean = df["Emissions2017"].mean()
print("Average 2017 CO2 emissions per nation is", mean, "metric tons per capita")

Average 2017 CO2 emissions per nation is 5.837389896393617 metric tons per capita